# PanAnalysis Test Data

## Import required modules

Import the modules required for this solution

In [1]:
import pyodbc
import pandas as pd

## Connect to data source

In [2]:
s_server = '169.254.250.189\SQLEXPRESS'
s_database = 'PanAnalysis'
s_user = 'sa'
s_password = 'Demo'

s_connection = 'DRIVER={SQL Server Native Client 11.0};' 
s_connection += 'SERVER=' + s_server + ';DATABASE=' + s_database +';'
s_connection += 'UID=' + s_user +';PWD=' + s_password

dbconn = pyodbc.connect(s_connection)

print('Database connection made...')

Database connection made...

In [3]:
# Simple database query test
s_tmpsql = 'select top 10 * from zTempPanAnalysis'
dbcursor = dbconn.cursor()
dbcursor.execute(s_tmpsql)
dbrecordset = dbcursor.fetchall()
for record in dbrecordset:
    print('Incident ID :', record.Incident)

print('\nShould have printed 10 6-digit incident IDs.')

Incident ID : 155059
Incident ID : 155060
Incident ID : 155061
Incident ID : 155063
Incident ID : 155065
Incident ID : 155066
Incident ID : 155067
Incident ID : 155068
Incident ID : 155069
Incident ID : 155070

Should have printed 10 6-digit incident IDs.

## Load some data into a dataframe

In [4]:
data_array = []
for record in dbrecordset:
    data_array += [[record.Incident, record.IncidentType, record.CustomerId]]
print('Data array looks like:\n')
print(data_array)

Data array looks like:

[['155059', 'BREAKDOWN', '10023'], ['155060', 'RTF', '12421'], ['155061', 'BREAKDOWN', '12190'], ['155063', 'BREAKDOWN', '11946'], ['155065', 'BREAKDOWN', '12571'], ['155066', 'BREAKDOWN', '10879'], ['155067', 'BREAKDOWN', '11668'], ['155068', 'REPEAT', '13051'], ['155069', 'BREAKDOWN', '11042'], ['155070', 'RTF', '12046']]

In [5]:
df = pd.DataFrame(data_array, columns=['Incident','IncidentType','CustomerId'])
print('Data frame looks like:\n')
print(df)

Data frame looks like:

  Incident IncidentType CustomerId
0   155059    BREAKDOWN      10023
1   155060          RTF      12421
2   155061    BREAKDOWN      12190
3   155063    BREAKDOWN      11946
4   155065    BREAKDOWN      12571
5   155066    BREAKDOWN      10879
6   155067    BREAKDOWN      11668
7   155068       REPEAT      13051
8   155069    BREAKDOWN      11042
9   155070          RTF      12046

In [6]:
# Get the columns from the recordset
s_cols = [col[0] for col in dbcursor.description]
print('Columns list:\n', s_cols)

Columns list:
 ['ID', 'Incident', 'IncidentType', 'CustomerId', 'LedgerCode', 'BusinessType', 'SiteId', 'MachinesOnSite', 'SoleMachine', 'Manufacturer', 'SerialNo', 'ProductId', 'DeviceType', 'Colour', 'AncilliariesCount', 'FirstUsed', 'FirstUsedDays', 'Installed', 'InstalledDays', 'PreviousBreakdowns', 'LastBreakCall', 'LastBreakCallDays', 'LastOtherCall', 'LastOtherCallDays', 'LastOtherCallType', 'InitialMeterValueBlack', 'InitialMeterValueColour', 'InitialMeterReadingDate', 'LastMeterValueBlack', 'LastMeterValueColour', 'LastMeterReadingDate', 'BlackClickPerDay', 'ColourClickPerDay', 'TotalClickPerDay', 'CreatedBy', 'CreatedDateTime', 'CreatedTime', 'CreatedDay', 'AttendDateTime', 'AttendDay', 'AttendHour', 'CallMinutes', 'MinutesToAttend', 'PostCodeArea', 'FirstEngineer']

In [25]:
# This should fetch all of the rows and give the sensible column names
s_tmpsql2 = 'select top 10 * from zTempPanAnalysis'
df2 = pd.read_sql_query(s_tmpsql2, dbconn)

In [26]:
print(df2)

     ID Incident IncidentType CustomerId LedgerCode  \
0  1796   155059    BREAKDOWN      10023       M440
1  1797   155060          RTF      12421       T278
2  1798   155061    BREAKDOWN      12190      GP114
3  1799   155063    BREAKDOWN      11946       C614
4  1800   155065    BREAKDOWN      12571       H327
5  1801   155066    BREAKDOWN      10879      MW016
6  1802   155067    BREAKDOWN      11668       N219
7  1803   155068       REPEAT      13051       E226
8  1804   155069    BREAKDOWN      11042      SH067
9  1805   155070          RTF      12046      MR002

                           BusinessType SiteId  MachinesOnSite  SoleMachine  \
0                 Manufacturing - Other  21936               7        False
1     Education - Secondary/High school  23678              16        False
2                   Housing Association  24064              14        False
3     Education - Secondary/High school  20076              14        False
4     Education - Secondary/High school  20904              96        False
5     Education - Secondary/High school  24050              12        False
6     Education - Secondary/High school  22131              15        False
7  Manufacturing - Chemicals/Fuels/Oils  20426               5        False
8     Professional - Architect/Surveyor  20767               4        False
9     Education - Secondary/High school  22516               3        False

  Manufacturer      ...           CreatedDateTime CreatedTime CreatedDay  \
0      TOSHIBA      ...       2017-06-05 09:04:47    09:04:47     Monday
1      TOSHIBA      ...       2017-06-05 09:06:07    09:06:07     Monday
2      TOSHIBA      ...       2017-06-05 09:06:08    09:06:08     Monday
3      TOSHIBA      ...       2017-06-05 09:10:38    09:10:38     Monday
4      TOSHIBA      ...       2017-06-05 09:12:07    09:12:07     Monday
5        RICOH      ...       2017-06-05 09:14:26    09:14:26     Monday
6      TOSHIBA      ...       2017-06-05 09:18:51    09:18:51     Monday
7      TOSHIBA      ...       2017-06-05 09:21:56    09:21:56     Monday
8      TOSHIBA      ...       2017-06-05 09:25:31    09:25:31     Monday
9        XEROX      ...       2017-06-05 09:27:10    09:27:10     Monday

       AttendDateTime  AttendDay AttendHour  CallMinutes MinutesToAttend  \
0 2017-06-05 10:35:00     Monday         10           45              90
1 2017-06-06 08:25:00    Tuesday          8           54             498
2 2017-06-05 10:55:00     Monday         10           25             108
3 2017-06-05 14:23:00     Monday         14           98             312
4 2017-06-05 13:14:00     Monday         13          111             241
5 2017-06-06 09:15:00    Tuesday          9          167             540
6 2017-06-05 10:56:14     Monday         10          206              97
7 2017-06-05 13:12:00     Monday         13           62             230
8 2017-06-05 10:01:59     Monday         10           50              36
9 2017-06-05 11:47:00     Monday         11          143             139

   PostCodeArea  FirstEngineer
0           HX7         DENNIS
1           S65          PAULH
2          CH41          PHILJ
3           WF4          JACOB
4           HG1         DENNIS
5           SK9           TONY
6          TS24        PETERHE
7           HX5         JOHNCR
8           HD6         THOMAS
9           OL9         JOHNST

[10 rows x 45 columns]

In [27]:
# Can now mess about with the dataframe
y = df['IncidentType']
print('Extracted:\n',y)

Extracted:
 0    BREAKDOWN
1          RTF
2    BREAKDOWN
3    BREAKDOWN
4    BREAKDOWN
5    BREAKDOWN
6    BREAKDOWN
7       REPEAT
8    BREAKDOWN
9          RTF
Name: IncidentType, dtype: object

In [29]:
data = df2
del data['IncidentType']
print('Feature data:\n',data)

Feature data:
      ID Incident CustomerId LedgerCode                          BusinessType  \
0  1796   155059      10023       M440                 Manufacturing - Other
1  1797   155060      12421       T278     Education - Secondary/High school
2  1798   155061      12190      GP114                   Housing Association
3  1799   155063      11946       C614     Education - Secondary/High school
4  1800   155065      12571       H327     Education - Secondary/High school
5  1801   155066      10879      MW016     Education - Secondary/High school
6  1802   155067      11668       N219     Education - Secondary/High school
7  1803   155068      13051       E226  Manufacturing - Chemicals/Fuels/Oils
8  1804   155069      11042      SH067     Professional - Architect/Surveyor
9  1805   155070      12046      MR002     Education - Secondary/High school

  SiteId  MachinesOnSite  SoleMachine Manufacturer     SerialNo      ...       \
0  21936               7        False      TOSHIBA    TXJF17539      ...
1  23678              16        False      TOSHIBA    CSEE19360      ...
2  24064              14        False      TOSHIBA    CMD327659      ...
3  20076              14        False      TOSHIBA    CHAG15146      ...
4  20904              96        False      TOSHIBA    C7BD48186      ...
5  24050              12        False        RICOH  W534J400076      ...
6  22131              15        False      TOSHIBA    CFLF37576      ...
7  20426               5        False      TOSHIBA    C7BD46965      ...
8  20767               4        False      TOSHIBA    C7AD42337      ...
9  22516               3        False        XEROX   3909726530      ...

      CreatedDateTime CreatedTime  CreatedDay      AttendDateTime AttendDay  \
0 2017-06-05 09:04:47    09:04:47      Monday 2017-06-05 10:35:00    Monday
1 2017-06-05 09:06:07    09:06:07      Monday 2017-06-06 08:25:00   Tuesday
2 2017-06-05 09:06:08    09:06:08      Monday 2017-06-05 10:55:00    Monday
3 2017-06-05 09:10:38    09:10:38      Monday 2017-06-05 14:23:00    Monday
4 2017-06-05 09:12:07    09:12:07      Monday 2017-06-05 13:14:00    Monday
5 2017-06-05 09:14:26    09:14:26      Monday 2017-06-06 09:15:00   Tuesday
6 2017-06-05 09:18:51    09:18:51      Monday 2017-06-05 10:56:14    Monday
7 2017-06-05 09:21:56    09:21:56      Monday 2017-06-05 13:12:00    Monday
8 2017-06-05 09:25:31    09:25:31      Monday 2017-06-05 10:01:59    Monday
9 2017-06-05 09:27:10    09:27:10      Monday 2017-06-05 11:47:00    Monday

   AttendHour CallMinutes  MinutesToAttend  PostCodeArea FirstEngineer
0          10          45               90           HX7        DENNIS
1           8          54              498           S65         PAULH
2          10          25              108          CH41         PHILJ
3          14          98              312           WF4         JACOB
4          13         111              241           HG1        DENNIS
5           9         167              540           SK9          TONY
6          10         206               97          TS24       PETERHE
7          13          62              230           HX5        JOHNCR
8          10          50               36           HD6        THOMAS
9          11         143              139           OL9        JOHNST

[10 rows x 44 columns]

## Need to do some management of the data - e.g. categoricals to IDs etc

1. Convert categorical data to IDs - e.g. engineer names, postcodes - consider if one-hot encoding is better here
2. Remove fields we don't need - e.g. redundant datatime values, incident IDs, serial numbers

In [31]:
# Now build a decision tree classifier on this data
from sklearn.tree import DecisionTreeClassifier
dtree=DecisionTreeClassifier()
del data['FirstEngineer']
dtree.fit(data,y)

ValueError: could not convert string to float: 'OL9'